{% extends 'base.html.twig' %}

{% block title %}{{ "Éditer la page" | trans }}{% endblock %}

{% block body %}
    <h1>{{ "Éditer la page" | trans }}</h1>

    {{ include('page/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('page_index') }}">{{ "Retour à la liste" | trans }}</a>

    {{ include('page/_delete_form.html.twig') }}
{% endblock %}
