{% extends 'sidebar.html.twig' %}

{% block title %}{{ "Nouvelle page" | trans }}{% endblock %}

{% block body %}
    <h1>{{ "Créer une nouvelle page" | trans }}</h1>

    {{ include('page/_form.html.twig') }}

    <a href="{{ path('page_index') }}">{{ "Retour à la liste" | trans }}</a>
{% endblock %}
