{% extends 'sidebar.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block body %}

    <div class="px-2 py-2 my-2 text-center">
        <h1 class="display-5 fw-bold">{{ page.title }}</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">{{ page.content }}</p>
        </div>
    </div>

    {% if app.debug %}
    <table class="table">
        <tbody>
            <tr>
                <th>{{ "Identifiant" | trans }}</th>
                <td>{{ page.id }}</td>
            </tr>
            <tr>
                <th>{{ "Chemin" | trans }}</th>
                <td>{{ page.slug }}</td>
            </tr>
            <tr>
                <th>{{ "Contenu" | trans }}</th>
                <td>{{ page.content }}</td>
            </tr>
            <tr>
                <th>{{ "Groupe" | trans }}</th>
                <td>{{ page.pageGroup }}</td>
            </tr>
        </tbody>
    </table>
    {% endif %}

    <a href="{{ path('page_edit', {'id': page.id}) }}">{{ "Éditer" | trans }}</a>

    {{ include('page/_delete_form.html.twig') }}
{% endblock %}
