{% extends 'base.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block body %}
    <h1>{{ page.title }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ "Identifiant" | trans }}</th>
                <td>{{ page.id }}</td>
            </tr>
            <tr>
                <th>{{ "Chemin" | trans }}</th>
                <td>{{ page.slug }}</td>
            </tr>
            <tr>
                <th>{{ "Contenu" | trans }}</th>
                <td>{{ page.content }}</td>
            </tr>
            <tr>
                <th>{{ "Groupe" | trans }}</th>
                <td>{{ page.pageGroup }}</td>
            </tr>
            <tr>
                <th>{{ "Crée le" | trans }}</th>
                <td>{{ page.createdAt ? page.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{{ "Publié le" | trans }}</th>
                <td>{{ page.publishedAt ? page.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{{ "Mis à jour le" | trans }}</th>
                <td>{{ page.updatedAt ? page.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('page_index') }}">{{ "Retour à la liste" | trans }}</a>

    <a href="{{ path('page_edit', {'id': page.id}) }}">{{ "Éditer" | trans }}</a>

    {{ include('page/_delete_form.html.twig') }}
{% endblock %}
