<h1>{{ "Hello! Please confirm your email!" | trans }}</h1>

<p>
    {{ "Please confirm your email by clicking on the link below :" | trans }}
    Please confirm your email address by clicking the following link: <br><br>
    <a href="{{ signedUrl }}">{{ "Confirm my email" | trans }}</a>.
    {{ "The link will expire in" | trans }} {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    {{ "Thank you!" | trans }}
</p>
