<h1>{{ "Bonjour ! Veuillez confirmer votre email !" | trans }}</h1>

<p>
    {{ "Veuillez confirmer votre email en cliquant sur le lien ci-dessous :" | trans }}
    Please confirm your email address by clicking the following link: <br><br>
    <a href="{{ signedUrl }}">{{ "Confirmer mon email" | trans }}</a>.
    {{ "Le lien va expirer dans" | trans }} {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    {{ "Merci !" | trans }}
</p>
