{% extends 'sidebar.html.twig' %}

{% block title %}{{ "Nouveau commentaire" | trans }}{% endblock %}

{% block body %}
    <h1>{{ "Créer un nouveau commentaire" | trans }}</h1>

    {{ include('comment/_form.html.twig') }}

    <a href="{{ path('comment_index') }}">{{ "Retour à la liste" | trans }}</a>
{% endblock %}
