{% extends 'sidebar.html.twig' %}

{% block title %}{{ "Pages Groups list" | trans }}{% endblock %}

{% block body %}
    <h1>{{ "Pages Groups list" | trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ "Identifiant" | trans }}</th>
                <th>{{ "Title" | trans }}</th>
                <th>{{ "Path" | trans }}</th>
                <th>{{ "Actions" | trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for page_group in page_groups %}
            <tr>
                <td>{{ page_group.id }}</td>
                <td>{{ page_group.title }}</td>
                <td>{{ page_group.slug }}</td>
                <td>
                    <a href="{{ path('page_group_show', {'id': page_group.id}) }}">{{ "Display" | trans }}</a>
                    <a href="{{ path('page_group_edit', {'id': page_group.id}) }}">{{ "Edit" | trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ "No page group found" | trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('page_group_new') }}">Create new</a>
{% endblock %}
