<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ "Homepage" | trans }}{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </head>
    <body>
        <nav class="navbar header-expand-lg header-light bg-light">
            <div class="header-container">
                <a class="header-brand" href="{{ path('welcome') }} ">Community</a>
                <div class="header-right">
                    {% if app.user and app.user.avatar %}
                    <a href="{{ path('account') }}" class="header-avatar">
                        <img src="{{ asset('uploads/avatars/' ~ app.user.avatar) }}" alt="" width="26" height="26" class="rounded-circle me-2">
                    </a>
                    {% endif %}
                    <div class="header-langs">
                        <a href="{{ path('welcome', {'_locale': 'fr'}) }}" class="header-lang" {% if app.request.locale == 'fr' %}style="color: red;"{% endif %}>fr</a>
                        <a href="{{ path('welcome', {'_locale': 'en'}) }}" class="header-lang" {% if app.request.locale == 'en' %}style="color: red;"{% endif %}>en</a>
                    </div>
                </div>
            </div>
        </nav>

        <main class="main">
            {% block content %}{% endblock %}
        </main>

    </body>
</html>
