{% extends 'base.html.twig' %}

{% block title %}Page {{ slug }}{% endblock %}

{% block body %}
{{page.publishedAt}}
  <p>ID : {{ page.id }}</p>
  <p>Slug : {{ page.slug }}</p>
  <p>Contenu : {{ page.content }}</p>
  <p>Crée le : {{ page.createdAt | date("d/m/Y") }}</p>
  <p>Publié le : {{ page.publishedAt is empty ? "" : page.publishedAt|date("d/m/Y") }}</p>
  <p>Mis à jour le : {{ page.updatedAt | date("d/m/Y") }}</p>
{% endblock %}
