{% extends 'base.html.twig' %}

{% block content %}

    <div class="main-container">
        <div class="sidebar">
        {% block sidebar %}
            <ul class="sidebar-list">
                {% for group in pageRepository.getPages() %}
                <li class="sidebar-group">
                    <p class="sidebar-group-title">{{ group.title }}</p>
                    <ul class="sidebar-list">
                        {% for page in group.pages %}
                        <li class="sidebar-item"><a class="sidebar-link" href="{{ path('page_show', {'slug': page.slug}) }}">{{ page.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
                <li class="sidebar-item"><a class="sidebar-link" href="{{ path('post_index') }}">{{ "Publications" | trans }}</a></li>
                <li class="sidebar-item"><a class="sidebar-link" href="{{ path('page_index') }}">{{ "Pages" | trans }}</a></li>
                <li class="sidebar-item"><a class="sidebar-link" href="{{ path('user_index') }}">{{ "Membres" | trans }}</a></li>
                <li class="sidebar-item"><a class="sidebar-link" href="{{ path('page_group_index') }}">{{ "Groupes de pages" | trans }}</a></li>
            </ul>
        {% endblock %}
        </div>

        <div class="content">
            <div class="content-inside">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>

{% endblock %}