{% for post in posts %}
  <article class="box">
      <div class="box-inside">
          <h2>{{ post.title }}</h2>
          <p>{{ "Published the" | trans}} {{ post.createdAt ? post.createdAt|date('d/m/Y') : '' }} {{ 'by' | trans }} <a href="{{ path('user_show', {'id': post.author.id}) }}">{{ post.author.firstname ~ ' ' ~ post.author.lastname }}</a></p>
          <p>{{ post.updatedAt ? post.updatedAt|date('Y-m-d H:i:s') : '' }}</p>
          <div>{{ post.content }}</div>
          <p>
              <a href="{{ path('post_show', {'id': post.id}) }}">{{ "Display" | trans }}</a>
              <a href="{{ path('post_edit', {'id': post.id}) }}">{{ "Edit" | trans }}</a>
          </p>
      </div>
  </article>
{% else %}
  <p>{{ "No post found" | trans }}</p>
{% endfor %}