{% extends 'sidebar.html.twig' %}

{% block title %}{{ "Edit post" | trans }}{% endblock %}

{% block body %}
    <h1>{{ "Edit post" | trans }}</h1>

    {{ include('post/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('post_index') }}">{{ "Back to list" | trans }}</a>

    {{ include('post/_delete_form.html.twig') }}
{% endblock %}
