{% extends 'sidebar.html.twig' %}

{% block title %}{{ "Editer la publication" | trans }}{% endblock %}

{% block body %}
    <h1>{{ "Editer la publication" | trans }}</h1>

    {{ include('post/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('post_index') }}">{{ "Retour à la liste" | trans }}</a>

    {{ include('post/_delete_form.html.twig') }}
{% endblock %}
