{% extends 'sidebar.html.twig' %}

{% block title %}{{ "Posts list" | trans }}{% endblock %}

{% block body %}
    <h1>{{ "Posts list" | trans }}</h1>

    {{ include('post/_list.html.twig', { posts: posts }) }}
    
    <a href="{{ path('post_new') }}">{{ "Create a post" | trans }}</a>
{% endblock %}
