{% extends 'sidebar.html.twig' %}

{% block title %}{{ "Liste des publications" | trans }}{% endblock %}

{% block body %}
    <h1>{{ "Liste des publications" | trans }}</h1>

    {{ include('post/_list.html.twig', { posts: posts }) }}
    
    <a href="{{ path('post_new') }}">{{ "Créer une publication" | trans }}</a>
{% endblock %}
