{% extends 'base.html.twig' %}

{% block title %}{{ "Nouvelle publication" | trans }}{% endblock %}

{% block body %}
    <h1>{{ "Créer une nouvelle publication" | trans }}</h1>

    {{ include('post/_form.html.twig') }}

    <a href="{{ path('post_index') }}">{{ "Retour à la liste" | trans }}</a>
{% endblock %}
