{% extends 'sidebar.html.twig' %}

{% block title %}{{ "New post" | trans }}{% endblock %}

{% block body %}
    <h1>{{ "Create a new post" | trans }}</h1>

    {{ include('post/_form.html.twig') }}

    <a href="{{ path('post_index') }}">{{ "Back to list" | trans }}</a>
{% endblock %}
