{% extends 'sidebar.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}

    <div class="post-actions">
        <a href="{{ path('post_index') }}">{{ "Back to list" | trans }}</a>
        <a href="{{ path('post_edit', {'id': post.id}) }}">{{ "Edit" | trans }}</a>
        {{ include('post/_delete_form.html.twig') }}
    </div>
    
    <h1>{{ post.title }}</h1>
    {{ "Created the" | trans }} {{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}
    {% if post.updatedAt %}
    {{ "Updated the" | trans }} {{ post.updatedAt ? post.updatedAt|date('Y-m-d H:i:s') : '' }}
    {% endif %}
    
    <div class="post-content">{{ post.content }}</div>
    
    <h2>{{ "Comments" | trans }}</h2>
    
    {{ include('comment/_list.html.twig', { comments: post.comments }) }}

    <h3>{{ "Create a new comment" | trans }}</h3>

    {{ include('comment/_form.html.twig') }}
{% endblock %}
