{% extends 'sidebar.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}

    <div class="post-actions">
        <a href="{{ path('post_index') }}">{{ "Retour à la liste" | trans }}</a>
        <a href="{{ path('post_edit', {'id': post.id}) }}">{{ "Éditer" | trans }}</a>
        {{ include('post/_delete_form.html.twig') }}
    </div>
    
    <h1>{{ post.title }}</h1>
    {{ "Crée le" | trans }} {{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}
    {% if post.updatedAt %}
    {{ "Mis à jour le" | trans }} {{ post.updatedAt ? post.updatedAt|date('Y-m-d H:i:s') : '' }}
    {% endif %}
    
    <div class="post-content">{{ post.content }}</div>
    
    <h2>{{ "Commentaires" | trans }}</h2>
    
    {{ include('comment/_list.html.twig', { comments: post.comments }) }}

    <h3>{{ "Créer un nouveau commentaire" | trans }}</h3>

    {{ include('comment/_form.html.twig') }}
{% endblock %}
