{% extends 'sidebar.html.twig' %}

{% block title %}{{ "Liste des membres" | trans }}{% endblock %}

{% block body %}
    <h1>{{ "Liste des membres" | trans }}</h1>
    
    {% if users %}
        <ul>
        {% for user in users %}
            <li>
                <a href="{{ path('user_show', {'id': user.id}) }}">
                    {% if user.avatar %}
                    <img src="{{ asset('uploads/avatars/' ~ user.avatar) }}" style="border-radius: 100px; width: 100px; height: 100px; object-fit:cover;" />
                    {% endif %}
                    <p>{{ user.firstname ~ ' ' ~ user.lastname}}</p>
                </a>
            </li>
        {% else %}
            <tr>
                <td colspan="5">{{ "Aucun membre trouvé" | trans }}</td>
            </tr>
        {% endfor %}
    {% endif %}

{% endblock %}
