{% extends 'sidebar.html.twig' %}

{% block title %}{{ user.firstname ~ ' ' ~ user.lastname}}{% endblock %}

{% block body %}

    {% for flash in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ flash }}</div>
    {% endfor %}

    <h1>{{ user.firstname ~ ' ' ~ user.lastname}}</h1>

    {% if user.avatar %}
    <img src="{{ asset('uploads/avatars/' ~ user.avatar) }}" style="border-radius: 100px; width: 100px; height: 100px; object-fit:cover;" />
    {% endif %}
    {{ form_start(form) }}
        {{ form_row(form.avatar) }}
        <input type="submit" value="{{ "Téléchager" | trans }}"/>
    {{ form_end(form) }}

    <dl>
        <dt>Email</dt>
        <dd>{{ user.email }}</dd>
    </dl>

    {% if user.posts %}
        <h2>{{ "Publications de l'utilisateur" | trans }}</h2>

        {{ include('post/_list.html.twig', { posts: user.posts }) }}
    {% endif %}

    {% if user.comments %}
    <h2>{{ "Commentaires de l'utilisateur" | trans }}</h2>

    {{ include('comment/_list.html.twig', { comments: user.comments }) }}
    {% endif %}

    <a href="{{ path('user_index') }}">{{ "Retour à la liste" | trans }}</a>
{% endblock %}
