{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}

    {% for flash in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ flash }}</div>
    {% endfor %}

    {% if user.avatar %}
    <img src="{{ asset('uploads/avatars/' ~ user.avatar) }}" style="border-radius: 100px; width: 100px; height: 100px; object-fit:cover;" />
    {% endif %}


    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
    </table>

    {{ form_start(form) }}
        {{ form_row(form.avatar) }}
        <input type="submit" value="Uploader"/>
    {{ form_end(form) }}

    

    {% if user.posts is not empty %}
    <h2>User posts</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in user.posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.content }}</td>
                <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ post.updatedAt ? post.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('post_show', {'id': post.id}) }}">show</a>
                    <a href="{{ path('post_edit', {'id': post.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% if user.comments is not empty %}
    <h2>Comment index</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in user.comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.content }}</td>
                <td>{{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ comment.updatedAt ? comment.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('comment_show', {'id': comment.id}) }}">show</a>
                    <a href="{{ path('comment_edit', {'id': comment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

    <a href="{{ path('user_index') }}">back to list</a>
{% endblock %}
